---
interface Props {
    preTitle?: string;
    title: string;
    highlight: string;
    description: string;
    primaryBtnText?: string;
    primaryBtnHref?: string;
    secondaryBtnText?: string;
    secondaryBtnHref?: string;
}

const { 
    preTitle,
    title, 
    highlight, 
    description,
    primaryBtnText = "Agendar llamada gratis",
    primaryBtnHref = "#contacto",
    secondaryBtnText = "Conoce los perfiles profesionales",
    secondaryBtnHref = "#roles"
} = Astro.props;
import "../../styles/hero-servicios/HeroContent.css";
---


{preTitle && <div class="pre-title">{preTitle}</div>}

<h1 class="main-title">
    {title} <br>
    <span class="pink-highlight">{highlight}</span>
</h1>

<p class="hero-description" set:html={description}></p>

<div class="hero-actions">
    <a href={primaryBtnHref} class="btn-pink">{primaryBtnText}</a>
    <a href={secondaryBtnHref} class="btn-outline">{secondaryBtnText}</a>
</div>
