---
import HeroContent from "./HeroContent.astro";
import HeroVisual from "./HeroVisual.astro";
import HeroStats from "./HeroStats.astro";
import "../../styles/hero-servicios/HeroService.css";

interface Props {
    label: string;
    title: string;
    highlight: string;
    description: string;
    videoImg: string;
    remoteCountry: string;
    floatingText: string;
    stat1Number: string;
    stat1Label: string;
    stat2Number: string;
    stat2Label: string;
    stat3Number?: string;
    stat3Label?: string;
    primaryBtnText?: string;
    primaryBtnHref?: string;
    secondaryBtnText?: string;
    secondaryBtnHref?: string;
}

const props = Astro.props;
---

<section class="hero-section">
    <div class="hero-container">
        <HeroVisual 
            videoImg={props.videoImg} 
            remoteCountry={props.remoteCountry} 
            floatingText={props.floatingText} 
        />
        
        <HeroContent 
            label={props.label}
            title={props.title}
            highlight={props.highlight}
            description={props.description}
            primaryBtnText={props.primaryBtnText}
            primaryBtnHref={props.primaryBtnHref}
            secondaryBtnText={props.secondaryBtnText}
            secondaryBtnHref={props.secondaryBtnHref}
        />
    </div>

    <HeroStats 
        stat1Number={props.stat1Number}
        stat1Label={props.stat1Label}
        stat2Number={props.stat2Number}
        stat2Label={props.stat2Label}
        stat3Number={props.stat3Number}
        stat3Label={props.stat3Label}
    />
</section>
