---
import "../../styles/services-oberstaff/service-card.css";

interface Props {
    icon: string;
    title: string;
    description: string;
    linkText: string;
    href?: string;
    colorClass?: string;
    cardClass: string;
    customIconBg?: string;
}

const {
    icon,
    title,
    description,
    linkText,
    href = "/home",
    colorClass = "",
    cardClass,
    customIconBg,
} = Astro.props;
---

<article class={`service-card ${cardClass}`}>
    <div class="card-gradient-bg"></div>
    <div 
        class={`icon-box ${colorClass}`} 
        style={customIconBg ? `background-color: ${customIconBg};` : ""}
    >
        <span class="icon-emoji-servicios-home">{icon}</span>
    </div>
    <h3>{title}</h3>
    <p>{description}</p>
    {linkText && (
        <a href={href} class="service-link">
            {linkText}
            <iconify-icon icon="mdi:arrow-right" class="arrow-icon"></iconify-icon>
        </a>
    )}
</article>
