---
import Stars from "./Stars.astro";
import "../../styles/testimonios/testimonial-card.css";

interface Props {
    clientName: string;
    clientMeta: string;
    clientImage: string;
    quote: string;
    videoUrl?: string;
    videoId?: string;
    altText?: string;
}

const { clientName, clientMeta, clientImage, quote, videoUrl = "/home", videoId, altText } = Astro.props;
---

<article class="testimonial-card">
    <div class="client-info-wrapper">
        {clientImage && (
            <div class="client-avatar">
                <img src={clientImage} alt={altText || clientName} />
            </div>
        )}
        <div class="client-text">
            <div class="testimonial-header">
                <Stars />
            </div>
            <div class="name-container">
                <p class="client-name"><strong>{clientName}</strong></p>
                <p class="client-meta">{clientMeta}</p>
            </div>
        </div>
    </div>

    <blockquote class="testimonial-quote">
        <span set:html={quote}></span>
        <cite style="position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0,0,0,0); white-space: nowrap; border: 0;">{clientName}, {clientMeta}</cite>
    </blockquote>

    <button type="button" class="video-link open-testimonial-video" data-video-id={videoId}>
        <iconify-icon icon="mdi:play-circle-outline" class="play-icon"
        ></iconify-icon>
        Ver testimonio en vídeo
    </button>
</article>
