---
import "../../styles/oberstaff-features-servicios/FeatureItem.css";

interface Props {
    title: string;
    description: string;
    icon: string;
    colorClass: string;
    cardClass?: string;
}

const { title, description, icon, colorClass, cardClass = "" } = Astro.props;
---

<div class={`feature-item ${cardClass}`}>
    <div class="feature-icon-title">
        <div class="feature-icon">
            {icon.includes(':') ? <iconify-icon icon={icon}></iconify-icon> : <span class="emoji-icon">{icon}</span>}
        </div>
        <h3 set:html={title}></h3>
    </div>
    <p set:html={description}></p>
</div>
